body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("messiBG.jpg");
}

.robotoTitle {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.quicksandLight{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}




.header, .abt, .stats{
    background-color: #466ff6;
}


.container{
    width: 100vh;
    height: 100vh;

}

#mainImg{
    max-width: 260px;
    max-height: 365px;
}

.OptBtns:hover{
    border-width: 200%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.PhotoGallery{
    max-width: 500px;
    max-height: 500px;
}

.photos{
    width: 775px;
}